@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-accent: #ffc107;
  --color-accent-hsl: 45, 100%, 51.37%;
  --color-muted: #c49e5b;
  --color-muted-hsl: 38.29, 47.09%, 56.27%;
  --color-titanium: #171616;
  --color-titanium-hsl: 15, 1.77%, 44.31%;
  --color-platinum: #878681;
  --color-platinum-hsl: 12, 2.35%, 58.24%;
  --color-gold: #dcb118;
  --color-gold-hsl: 46.84, 80.33%, 47.84%;
  --color-emerald: #4f8129;
  --color-emerald-hsl: 94.09, 51.76%, 33.33%;
  --color-sapphire: #162c59;
  --color-sapphire-hsl: 220.3, 60.36%, 21.76%;
  --color-ruby: #ac0911;
  --color-ruby-hsl: 357.06, 90.06%, 35.49%;
  --color-diamond: #f6f6f2;
  --color-diamond-hsl: 60, 18.18%, 95.69%;
  --color-amethyst: #bb6fe2;
  --color-amethyst-hsl: 279.65, 66.47%, 66.08%;
  --color-pearl: #f7efdf;
  --color-pearl-hsl: 40, 60%, 92.16%;
}

.dark {
  --color-accent: #e2bf36;
  --color-accent-hsl: 47.79, 74.78%, 54.9%;
  --color-muted: #d0b17b;
  --color-muted-hsl: 38.12, 47.49%, 64.9%;
  --color-titanium: #f3f4f7;
  --color-titanium-hsl: 225, 20%, 96.08%;
  --color-platinum: #f0f3f5;
  --color-platinum-hsl: 204, 20%, 95.1%;
  --color-gold: #dcb118;
  --color-gold-hsl: 46.84, 80.33%, 47.84%;
  --color-emerald: #00a267;
  --color-emerald-hsl: 158.15, 100%, 31.76%;
  --color-sapphire: #0f52ba;
  --color-sapphire-hsl: 216.49, 85.07%, 39.41%;
  --color-ruby: #e0115f;
  --color-ruby-hsl: 337.39, 85.89%, 47.25%;
  --color-diamond: #262a2c;
  --color-diamond-hsl: 200, 7.32%, 16.08%;
  --color-amethyst: #663593;
  --color-amethyst-hsl: 271.28, 47%, 39.22%;
  --color-pearl: #303030;
  --color-pearl-hsl: 0, 0%, 18.82%;
}

@layer base {
  :root {
    --background: var(--color-diamond-hsl);
    --foreground: var(--color-titanium-hsl);
    --card: var(--color-diamond-hsl);
    --card-foreground: var(--color-titanium-hsl);
    --popover: var(--color-diamond-hsl);
    --popover-foreground: var(--color-titanium-hsl);
    --primary: var(--color-sapphire-hsl);
    --primary-foreground: var(--color-pearl-hsl);
    --secondary: var(--color-pearl-hsl);
    --secondary-foreground: var(--color-sapphire-hsl);
    --muted: var(--color-muted-hsl);
    --muted-foreground: var(--color-titanium-hsl);
    --accent: var(--color-accent-hsl);
    --accent-foreground: var(--color-titanium-hsl);
    --destructive: var(--color-ruby-hsl);
    --destructive-foreground: var(--color-pearl-hsl);
    --border: var(--color-gold-hsl);
    --input: var(--color-platinum-hsl);
    --ring: var(--color-emerald-hsl);
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: var(--color-diamond-hsl);
    --foreground: var(--color-titanium-hsl);
    --card: var(--color-diamond-hsl);
    --card-foreground: var(--color-titanium-hsl);
    --popover: var(--color-diamond-hsl);
    --popover-foreground: var(--color-titanium-hsl);
    --primary: var(--color-sapphire-hsl);
    --primary-foreground: var(--color-pearl-hsl);
    --secondary: var(--color-pearl-hsl);
    --secondary-foreground: var(--color-sapphire-hsl);
    --muted: var(--color-muted-hsl);
    --muted-foreground: var(--color-titanium-hsl);
    --accent: var(--color-accent-hsl);
    --accent-foreground: var(--color-titanium-hsl);
    --destructive: var(--color-ruby-hsl);
    --destructive-foreground: var(--color-pearl-hsl);
    --border: var(--color-gold-hsl);
    --input: var(--color-platinum-hsl);
    --ring: var(--color-emerald-hsl);
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-poppins;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-rubik;
  }
  h1 {
    @apply text-4xl font-bold;
  }

  h2 {
    @apply text-3xl font-semibold;
  }

  h3 {
    @apply text-2xl font-medium;
  }

  h4 {
    @apply text-xl font-medium;
  }

  h5 {
    @apply text-lg font-medium;
  }

  h6 {
    @apply text-base font-medium;
  }
}
